{% extends "template-noheader.html" %}

{% block content %}
<style>
  div.image-div {
                 height: 200px;
                 width: 100%;
                 margin: 0;
                 position: relative;
                }
</style>

<div class="main-container">
    <h2>Cancel subscription.</h2>
    <p>We were unable to successfully cancel your subscription.</p>
    <p>Please email stephen.barr@apexoptim.com for assistance.</p>
    <div class=image-div>
      <img style="margin: 0; height: 100%; top: 50%; left: 50%; position: relative; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);" src="https://refi-user-images.s3.amazonaws.com/false-2061132_1280.png"/>
    </div>

</div>
{% endblock content %}
