{% extends "template.html" %}

{% block content %}
<style>
  div.image-div {
                 height: 200px;
                 width: 100%;
                 margin: 0;
                 position: relative;
                }
</style>

<div class="main-container">
    <h2>Cancel subscription.</h2>

    <form method="post">
      <label for="reason">Reason for cancellation:</label><br>
      <input type="text" id="reason" name="reason"><br>
      <button id="submit" type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
{% endblock content %}
